@charset "UTF-8";

body{
    height:auto;
}

nav { background-color: #7ba4a8;
       
}
.nav-link{
color:#dddede;
}

.dropdown-menu{
background-color: #7ba4a8;   
background-size: 100%; 
}

.section-delimiter{
    background-color: #404040;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px; 
    margin-bottom: 50px; 
    padding: 25px;
}

.body-section{
  margin:10px auto 5px;
}

section{
    background-color: #7ba4a8; 
    margin-left: 100px; 
    margin-right: 100px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    padding: 25px;
}

.section-title {
    text-align: center;
    align-content: center;
}

.col{
    margin-bottom: 10px;
    width: auto;
    align-content: center;
    
}

.card {
    width: 18rem;
}

.align-center {
  text-align: center;
}

.card-link{
    text-align: center;
}

.card-text{
: 55%;
}

.main-footer{
    background-repeat: repeat-x; 
    background-color: #404040; 
    padding: 60px 0; 
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    line-height: 1em;
    font-size: 14px;
    margin: 0 0 20px;       
}

.btn{
}

.icon-spinner6:before {

  }